
router isis 1
   no authentication key 7 {{database_auth_old}} level-2
   authentication key 7 {{database_auth_new}} level-2
   exit
{% for item in isis_neighbor_data.values() -%}
interface {{item.if_name}}
   no isis authentication key 7 {{database_auth_old}} level-2
   isis authentication key 7 {{database_auth_new}} level-2
   exit
{% endfor %}
