{% if action=='set' %}
set groups default_isis_setup protocols isis level <*> authentication-key {{database_auth}}
set groups default_isis_setup protocols isis level <*> authentication-type md5
set groups default_isis_setup protocols isis level <*> prefix-export-limit 5000
set protocols isis apply-groups default_isis_setup
{% else %}
delete groups default_isis_setup protocols isis level <*> authentication-key
delete groups default_isis_setup protocols isis level <*> authentication-type md5
delete groups default_isis_setup protocols isis level <*> prefix-export-limit 5000
{% endif %}
